.all_body {
    position: absolute;
    left: 0;
    top: 0;
}

.body_plate {
    margin: 0;
    background-position: center;
    background-repeat: repeat;
    background-size: 100px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: #080808;
    text-transform: uppercase;
}

#img_depart img {
    transform: rotate(44deg);
    margin-right: -55px;
    margin-bottom: -55px;
}

h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    margin-left: 70px;
}


.dark-purple {
    background: #5e3577;
    margin-left: -15px;
}

.light-blue {
    background: #d2eaf5;
    margin-left: -15px;
}

.purple {
    background: #b02f7c;
    margin-left: 7px;
}

.orange {
    background: #fa811d;
    margin-left: 7px;
}

.red {
    background: #f50c2b;
    margin-left: -15px;
}

.yellow {
    background: #ffed20;
    margin-left: -15px;
}

.green {
    background: #41994e;
    margin-left: 6.5px;
}

.dark-blue {
    background: #5a6dba;
    margin-left: 6.5px;
}

.table {
    padding-left: 50px;
    padding-right: 50px;
    transform: rotate3d(1, 1, 1, 0deg);
    transition: transform 3s ease-in 1s;
}

.table--init {
    transform: rotate3d(1, 1, 1, -120deg);
}

.board {
    display: grid;
    grid-template-columns: 125px repeat(9, 80px) 125px;
    grid-gap: 2px;
    margin: 50px auto;
    width: 1024px;
    height: 524px;
    position: relative;
    left: 0;
    top: 0;
}

.center {
    grid-column: 2 / 11;
    grid-row: 2 / 11;
    background: #fafaf8;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
    width: 735px;
    height: 736px;
    position: relative;
    left: 0;
    top: 0;
}

#imgBitcoin {
    position: absolute;
    left: 520px;
    top: 400px;
}

.title {
    grid-column: 1 / 9;
    grid-row: 4;
    font-size: 90px;
    font-weight: 400;
    letter-spacing: 12px;
}

.community-chest-deck {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    transform: rotate(135deg);
    margin-bottom: 60px;
    margin-right: 60px;
}

.chance-deck {
    grid-column: 5 / 7;
    grid-row: 5 / 7;
    transform: rotate(315deg);
    margin-top: 60px;
    margin-left: 60px;
}

.label {
    text-align: center;
    font-weight: 500;
    letter-spacing: 3px;
    padding-bottom: 10px;
}

.deck {
    border: 2px dashed #080808;
    width: 160px;
    height: 120px;
}

.row {
    display: grid;
    grid-gap: 2px;
    margin-left: 0px;
    box-sizing: border-box;
}

.horizontal-row {
    grid-template-columns: repeat(9, 80px);
    grid-template-rows: 125px;
}

.vertical-row {
    grid-template-columns: 125px;
    grid-template-rows: repeat(9, 80px);
}

.vertical-row .container {
    top: 50%;
    left: 50%;
}

.bottom-row {
    grid-column: 2 / 11;
    grid-row: 11;
}

.left-row {
    grid-column: 1;
    grid-row: 2 / 11;
}

.left-row .container {
    transform: translate(-50%, -50%) rotate(90deg);
}

.top-row {
    grid-column: 2 / 11;
    grid-row: 1;
}

.top-row .container {
    transform: rotate(180deg);
}

.right-row {
    grid-column: 11;
    grid-row: 2 / 11;
}

.right-row .container {
    transform: translate(-50%, -50%) rotate(270deg);
}

.space {
    background: #fafaf8;
    text-align: center;
    box-sizing: border-box;
    font-size: 13px;
}

.space .container {
    display: flex;
    flex-direction: column;
    position: relative;
    transform-origin: center;
    height: 125px;
}

.space .price {
    font-size: 7px;
    font-weight: 400;
    padding-bottom: 5px;
}

.name_horinzontal {
    padding-top: 50px;
}

.corner .container {
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.corner .name {
    padding: 0;
}

.property .color-bar {
    height: 25px;
    border-bottom: 2px solid #080808;
    width: 80.5px;
}


/* .property .name {
  padding-bottom: 50px;
} */

.railroad .name {
    padding-top: 10px;
}

.railroad .drawing {
    font-size: 60px;
    color: #080808;
}

.utility .name {
    padding-top: 10px;
}

.utility .drawing {
    font-size: 70px;
}

.fee .name {
    padding-top: 10px;
    font-size: 14px;
}

.fee .instructions {
    font-size: 10px;
}

.go {
    grid-column: 11;
    grid-row: 11 / 12;
    position: relative;
    height: 125px;
}

.go .container {
    justify-content: flex-start;
    transform: rotate(315deg);
}

.go .instructions {
    padding: 0 30px;
}

.go .go-word {
    font-size: 50px;
    margin-top: 12px;
    margin-left: -13px;
    color: #f50c2b;
}

.go .arrow {
    font-size: 45px;
    color: #f50c2b;
    position: absolute;
    bottom: -10px;
    left: 5px;
}

.jail {
    grid-column: 1;
    grid-row: 11 / 12;
    display: grid;
    grid-template-columns: repeat(10, 12.5px);
    grid-template-rows: repeat(10, 12.5px);
    justify-content: center;
    align-items: center;
}

.jail .drawing {
    grid-column: 4 / 11;
    grid-row: 1 / 8;
    width: 87.5px;
    height: 87.5px;
    background: #fa811d;
    border-bottom: 2px solid #080808;
    border-left: 2px solid #080808;
}

.jail .just {
    grid-column: 3;
    grid-row: 4;
    transform: rotate(90deg);
    padding-top: 5px;
}

.jail .visiting {
    grid-column: 6;
    grid-row: 8;
    padding-top: 5px;
}

.jail .container {
    align-items: center;
    transform: rotate(45deg);
}

.jail .name {
    font-size: 14px;
}

.jail .window {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 55px;
    height: 55px;
    background: #fafaf8;
    border: 2px solid #080808;
}

.jail .person {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 40px;
}

.jail .bar {
    height: 55px;
    width: 2px;
    background: #080808;
}

.free-parking {
    grid-column: 1;
    grid-row: 1 / 2;
}

.free-parking .container {
    justify-content: center;
    transform: rotate(135deg);
}

.free-parking .name {
    font-size: 16px;
}

.free-parking .drawing {
    font-size: 60px;
    color: #f50c2b;
    padding-top: 5px;
    padding-bottom: 5px;
}

.go-to-jail {
    grid-column: 11;
    grid-row: 1 / 1;
}

.go-to-jail .container {
    justify-content: center;
    transform: rotate(225deg);
}

.go-to-jail .name {
    font-size: 16px;
}

.go-to-jail .drawing {
    font-size: 60px;
    color: #640303;
    padding-top: 5px;
    padding-bottom: 5px;
}

.chance .container {
    justify-content: center;
}

.chance .drawing {
    font-size: 90px;
    color: #f50c2b;
}

.chance .blue {
    color: #5a6dba;
}

.community-chest .container {
    justify-content: space-around;
}

.community-chest .drawing {
    font-size: 50px;
    color: #d2eaf5;
}

.community-chest .instructions {
    font-size: 8px;
}

.electric-company .drawing {
    color: #ffed20;
}

.waterworks .drawing {
    color: #5a6dba;
}

.income-tax .container {
    justify-content: center;
    align-items: center;
}

.income-tax .name {
    padding-bottom: 5px;
}

.income-tax .diamond {
    width: 5px;
    height: 5px;
    background: #080808;
    transform: rotate(45deg);
    display: inline-block;
}

.income-tax .instructions {
    padding-top: 5px;
    padding-bottom: 5px;
}

.luxury-tax .drawing {
    font-size: 50px;
}

.luxury-tax .instructions {
    padding-bottom: 5px;
}

.long-name {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.three-line-name {
    position: relative;
    top: 5px;
}

.PlateCellProperty__pawn {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    border: 2px solid black;
    opacity: 0.7;
}